<body class = bg-image onload= ngOnInit>
    <button class = "btn btn-danger" routerLink="/welcome">Leave</button>
    <button class = "btn btn-primary" (click) = ngOnInit()>Play Again</button><br>
    <div class = divtable>
        <table>
            <tr *ngFor = "let c of dealer.cards">
                <td><img src = {{c.photo}}></td>
            </tr>
        </table>
    </div><br>
    <div class = "divtable gap">
        <table>
            <tr>
                <h4>{{guest.outcome}}</h4>
            </tr>
        </table>
    </div><br>
    <div class = divtable>
        <table>
            <tr *ngFor = "let c of guest.cards">
                <td><img src = {{c.photo}}></td>
            </tr>
        </table>
    </div><br>
    <span class = "playeroption">
        <div *ngIf = hit>
            <button type = button class = "btn-warning ante" (click) = Draw()>Ante</button>
        </div>
        <div *ngIf = false>
            <button class = "btn-warning pairplus">Pair+</button>
        </div>
        <div *ngIf = !hit>
            <button  *ngIf = !hide button class = "btn-success" (click) = Hit()>HIT</button>
        </div>
    </span>
</body>
