<body class = bg-image>
    <button class = "btn btn-danger" routerLink="/welcome">Leave</button>
    <button class = "btn btn-primary">Play Again</button><br>
    <div class = divtable>
        <table>
            <tr *ngFor = "let c of dealer.cards">
                <td><img src = {{c.photo}}></td>
            </tr>
        </table>
    </div>
    <div>
        <table>
            <tr *ngFor = "let c of table.cards">
                <td><img src = {{c.photo}}></td>
            </tr>
        </table>
    </div>
    <div>
        <table>
            <tr *ngFor = "let c of guest.cards">
                <td><img src = {{c.photo}}></td>
            </tr>
        </table>
    </div><br>
    <span class = "playeroption">
        <button class = "btn-warning" >DRAW</button>
        <button class = "btn-success">HIT</button>
    </span>
</body>
