<!DOCTYPE html>
<html lang="en">
<head>
  <title>3 Card Poker</title>
</head>
<body class = "bg-image">
  <span>
    <h2>Welcome to 3 Card Poker the objective of the game is to get the best possible hand and try and beat the dealer.
    Here are the hand rankings ranked best to worst.
    </h2>
    <p><button type="button" class="btn btn-primary" routerLink="/play">PLAY</button></p>
  </span>
  
  <div>
    <h1>#1 Straight Flush</h1>
    <img src="../assets/images/ace_of_spades.png">
    <img src="../assets/images/king_of_spades.png">
    <img src="../assets/images/queen_of_spades.png">
  </div>
  <div>
    <h1>#4 Flush</h1>
    <img src="../assets/images/ace_of_clubs.png">
    <img src="../assets/images/queen_of_clubs.png">
    <img src="../assets/images/9_of_clubs.png">
  </div>
 <br>
  <div>
    <h1>#2 3 of a Kind</h1>
    <img src="../assets/images/7_of_hearts.png">
    <img src="../assets/images/7_of_clubs.png">
    <img src="../assets/images/7_of_diamonds.png">
  </div>
  <div>
    <h1>#5 pair</h1>
    <img src="../assets/images/2_of_hearts.png">
    <img src="../assets/images/2_of_clubs.png">
    <img src="../assets/images/10_of_diamonds.png">
  </div>
  <br>
  <div>
    <h1>#3 Straight</h1>
    <img src="../assets/images/2_of_hearts.png">
    <img src="../assets/images/3_of_clubs.png">
    <img src="../assets/images/4_of_diamonds.png">
  </div>
  <div>
    <h1>#6 High Card</h1>
    <img src="../assets/images/7_of_hearts.png">
    <img src="../assets/images/jack_of_clubs.png">
    <img src="../assets/images/ace_of_diamonds.png">
  </div>
</body>
</html>
